.thumb:hover {
	border: 5px solid lightgreen;
}

.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  width: 50%;
}

.pag {
	height: 30px;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

.picture-container { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.picture-container div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
.picture-container div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  .picture-container div { margin: 0; }
  .picture-container { padding: 0; }
  
}


