<div class="pag" *ngIf="photoSet[0] != undefined">
	<pagination-controls (pageChange)="p =$event" ></pagination-controls>
	<hr>
</div>

<div class="container" >
	<div *ngIf="photoSet[0] == undefined">
		<h1 class="text-center">Get Searching!</h1>
		<img class="image-center" src="https://media.giphy.com/media/l3q2PZSVUUEsajBIY/giphy.gif">
	</div>
	<div class="picture-container">
		<div *ngFor="let photo of photoSet | paginate: { itemsPerPage: 28, currentPage: p}"><img class="thumb" src="{{ photo['images']['fixed_width_small']['url']}}" (click)="createOverlay(photo)"></div>
	</div>
</div>
<br>
<br>

<div id="overlay">
	
</div>
