/* You can add global styles to this file, and also import other style files */
html {
	position: relative;
	min-height: 100%;
}

.overlay-pic {

	min-width: 40%;
	max-height: 100%;
}


.thumb:hover {
	border: 5px solid powderblue;
}

.ngx-pagination {
	text-align: center;
	padding-left: 0px;
}

.flasher {
	position: relative;
	top: -25px;
	left: 0px;
	right: 0px;
	text-align: center;
}

.hide-me {
	display: none;
}

/* Manually style collapsed navbar elements */
@media only screen and (max-width : 768px) {
	select#num-results {
		margin-bottom: 5px;
		width: 50%;
	}

	input#search-field {
		margin-bottom: 5px;
		width: 50%;
	}
}


