<system.webServer>
      <httpProtocol>
          <customHeaders>
              <clear />
              <add name="Access-Control-Allow-Origin" value="https://api.giphy.com" />
              <add name="Access-Control-Allow-Headers" value="Content-Type"/>

          </customHeaders>
     </httpProtocol>
</system.webServer>